.company {
  background-color: #fff;
  border-radius: 0.625rem;
  transition: 0.3s;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 0 auto;
  height: 290px;

  &:hover {
    background-color: #fafafa;
  }
}
