.sidebar {
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  width: 70%;

  &__title {
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: rgba(0, 0, 0, 0.03);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    padding: 0 2rem;
  }

  &__link {
    width: 100%;
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      padding: 1.5rem 2rem;

      color: #444;
      display: inline-block;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-bottom: none;

      &:last-child {
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }
}
