html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: #fff;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;

  margin-bottom: 100px;
}

.example-enter {
  opacity: 0;
  transform: scale(0.3);
}

.example-enter.example-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s;
}

.example-leave {
  opacity: 1;
  transform: scale(1);
}

.example-leave.example-leave-active {
  opacity: 0;
  transform: scale(0.3);
  transition: all 0.3s;
}
